.parent {
  height: 500px;
  width: 400px;
  background-color: lightgray;
  margin: 10vh auto;
  border-radius: 4px;
  position: relative;
}

.parent > h1 {
  text-align: center;
  padding: 1em 0;
}

.count-ops {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.count-ops p {
  font-size: 3em;
}

.count-ops button {
  padding: 0.1em 0.2em;
  cursor: pointer;
  font-size: 2em;
}

.reset-btn button {
  margin: 0 12.5em;
  padding: 6px;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 5%;
  left: 28%;
}
